*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    position: relative;
    width: 103%;
    height: 120vh;
    background-image: url(lifee.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
 
}

.logo{
     height: 200px;
     width: 200px;   

}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding-right: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15% 15px;
}

nav ul li{
    text-decoration: none;
    color: rgba(90, 227, 104, 0.609);
    font-weight: bold;
}

nav ul li a{
    color: rgba(90, 227, 104, 0.609);
}

.detel{
    margin-left: 8%;
    margin: 13%;

}

.detel h1{
    font-size: 50x;
    color: rgba(65, 187, 77, 0.677);
    margin-bottom: 20px;
}

span{
    color:orange;
}

.detel p{
    color: #f3eded;
    line-height: 22px;
}

.images{
    width: 80%;
    height: 50%;
    position:absolute;
    bottom: 0;
    right: 50px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    transition: bottom 1s left 1s;
}

.images:hover .shape{
   bottom: 40px;
}

.images:hover .girl{
    left:45%
}

body {
    background: black;
}

.clock {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    color: #964adb;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}









.army-bomb-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-30%);
  }
  
  .handle {
    position: relative;
    height: 200px;
    width: 50px;
    background-color: black;
    z-index: 0;
  }
  
  /* top of the army bomb drawn using pseudo elements on the handle (so that it is drawn behind the glowing animation) */
  .handle:before {
    position: absolute;
    left: 132.5%;
    top: -30%;
    width: 30px;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
    z-index: -1;
    content: "";
  }
  
  .handle:after {
    position: absolute;
    left: 168.5%;
    top: -31.5%;
    width: 3px;
    height: 5px;
    background-color: red;
    transform: rotate(45deg);
    z-index: -1;
    content: "";
  }
  
  .army-bomb {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    animation: light-up 3s infinite ease-in-out;
  }
  
  /* BTS logo drawn using pseudo elements of the army bomb */
  .army-bomb::before {
    position: absolute;
    top: 160%;
    left: 34%;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 15px;
    transform: rotate(90deg);
    content: "";
  }
  
  .army-bomb::after {
    position: absolute;
    top: 160%;
    right: 34%;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 15px;
    transform: rotate(-90deg);
    content: "";
  } 
  
  
  /* glowing animation */
  @keyframes light-up {
    0%   { box-shadow: 0px 0px 50px 1px rgb(244, 242, 244); }
    50%  { box-shadow: 0px 0px 50px 30px rgb(179, 91, 209); }
    100% { box-shadow: 0px 0px 50px 1px rgb(99, 213, 99); }
    
  }


 
